[submodule "SoarOS"]
	path = SoarOS
	url = https://github.com/UCSOAR/SoarOperatingSystem.git
	branch = Jad/DAQ
[submodule "PeripheralDriversSubmodule"]
	path = PeripheralDriversSubmodule
	url = https://github.com/UCSOAR/PeripheralDriversSubmodule.git
	branch = master

[submodule "AltitudePredictionFilter"]
	path = AltitudePredictionFilter
	url = https://github.com/flammabl3/AltitudePredictionFilter.git
